.container {
  float: left;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */


hr{
  margin-bottom: 0 !important;
}

div .main_contents {
  padding: 20px;
}

div .card{
  margin: 20px 0px 0px 5px;
  padding:0px;
  height:auto;
  width:auto;
}
div .card a{
  padding: 20px;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
}
div .card a:hover{
  background-color: #014566;
  color: white;
}
