
div.content {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 4rem;
}
.news_header{
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: scroll;
  height: 300px;
}
.news_header h3 {
  border-radius: 5px;
  background-color: #014566;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding: 5px 19px;
}

.panel {
    border-radius: 4px;

}
.panel-body {
    padding: 15px;
}

.panel-footer {
    padding-bottom: 0;
    background-color: white;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-footer a{
  background-color: #014566;
  color: white;
}
div.space{
  height: 500px;
  width: auto;
}
div.footer {
    padding: 1rem;
    border-top: 1px solid #2f3542;
    background-color: #2f3542;
    color: white;

}
