div.content {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 4rem;
}
.cardAnnouncements {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #014566;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px;
    -webkit-box-shadow: -1px 10px 10px #014566;
  -moz-box-shadow: -1px 10px 10px #014566;
  box-shadow: -1px 10px 10px #014566;

}

.cardAnnouncements-header {
  color: white;
  font-style: normal;
  text-align: left;
  font-size: 16px;
  line-height: 28px;
  font-weight: 900;
  border-radius: 5px;
  border-bottom: 1px solid #014566;
  background-color: #014566;
  padding: 5px 10px;
}

.cardAnnouncements-main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 15px 0;
  padding-left:10px;
}

.material-icons {
  font-size: 36px;
  color: #D32F2F;
  margin-bottom: 5px;
}

.main-description {
  color: #229bb1;
  font-size: 12px;
  text-align: left;
  line-height: 28px;
}
.marquee-container { padding:3px; border:0px solid #e6e6e6; overflow:hidden; line-height: 24px;font-size:14px; } #marquee{ display:block; position:relative; height:356px; animation:scroll 20s linear infinite; padding:3px; } #marquee:hover { animation-play-state: paused }  /* Make it move */ @keyframes scroll{ 0% {top:290px;} 100% {top:-340px;} }
.#mymarqueed{
  animation-play-state: paused;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;

    padding: 4px 8px;
    padding-bottom:1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    margin-right:5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    float:right;
}

.button1 {

    background-color: #BF706E;
    color: black;

}

.button1:hover {
    background-color: #A4CDAD;
    color: maroon;
}

.button2 {
    background-color: #4CAF50;
    color: black;

}

.button2:hover {
    background-color: #A4ACCD;
    color: white;
}

.button3 {
    background-color: #F5D5DB;
    color: black;
    border: 2px solid ##A4ACCD;
    line-height:28px;
}

.button3:hover {
    background-color: white;
    color: white;
}
#marquee>ul>li{
  border-bottom: 1px solid #CFD0D6 ;
  margin-right: 20px;
  padding-top: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #014566;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b6d9c;
}
